* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

a:active {
  outline: none;
}

body {
  background: #0b0b0c;
  background-position: bottom 0 right 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(../img/background.webp);
}

body .wrapper {
  width: 100%;
  padding: 2.083vw 2.083vw 7vw 2.083vw;
  height: 100vh;
  background-image: url(../img/noise.svg);
  background-size: 100%;
}

body .wrapper .images {
  position: absolute;
  width: 100%;
}

body .wrapper .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.781vw;
}

body .wrapper .logo img {
  width: 2.135vw;
}

body .wrapper .logo span {
  font-family: "AGPM";
  font-style: normal;
  font-weight: 500;
  font-size: 1.042vw;
  line-height: 1.302vw;
  color: #ffffff;
}

body .wrapper .container {
  width: 72.917vw;
  margin: 0 auto;
}

body .wrapper .container .title-container {
  position: relative;
  margin: 3.542vw 0 0 0;
  width: 68.75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .wrapper .container .title-container .title {
  font-family: "AGPB";
  font-style: normal;
  font-weight: 700;
  font-size: 5.313vw;
  line-height: 5.833vw;
  text-transform: uppercase;
  color: #ffffff;
}

body .wrapper .container .title-container .description {
  padding: 1.771vw 1.771vw 0 0;
}

body .wrapper .container .title-container .description span {
  font-family: "AGPM";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25vw;
  line-height: 1.771vw;
  text-transform: uppercase;
  background: radial-gradient(60.45% 76.17% at -5.8% 40.18%, #16a9fe 0, rgba(22, 169, 254, 0) 100%), radial-gradient(101.15% 101.15% at 50% 101.15%, #0342e7 0, #cb24ff 53.65%) #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-emphasis-color: transparent;
          text-emphasis-color: transparent;
}

body .wrapper .container .title-container .description span::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  content: "";
  width: 1.771vw;
  height: 1.771vw;
  border-right: 0.052vw solid #ffffff;
  border-top: 0.052vw solid #ffffff;
}

body .wrapper .container .social {
  margin: 7.292vw 0 0 0;
  padding: 0 0 0 5.417vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 1.042vw;
}

body .wrapper .container .social .social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.677vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3.229vw;
  background-image: url(../img/backgroung-button.svg);
  background-position: center;
  background-size: auto;
}

body .wrapper .container .social .social__link:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  background: #0342e7;
}

body .wrapper .container .social .social__link:hover svg {
  fill: #ffffff;
}

body .wrapper .container .social .social__link:hover .website__icon {
  fill: none;
  stroke: #ffffff;
}

body .wrapper .container .social .social__link svg {
  width: 1.146vw;
}

body .wrapper .container .social .social__link span {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 1.146vw;
  line-height: 1.354vw;
  color: #ffffff;
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}

body .wrapper .container .social .website {
  width: 9.167vw;
  stroke: #4e5465;
  fill: none;
}

body .wrapper .container .social .twitter {
  width: 8.698vw;
  margin-left: -3.15vw;
}

body .wrapper .container .social .discord {
  width: 8.906vw;
  margin-left: -12.6vw;
}

body .wrapper .container .social .telegram-chat {
  width: 12.292vw;
}

body .wrapper .container .social .telegram {
  width: 18.177vw;
}

body .wrapper .container .social .instagram {
  width: 10.156vw;
}

body .wrapper .container .social .youtube {
  width: 9.219vw;
}

body .wrapper .container .social .whitepaper {
  width: 10.938vw;
  margin-left: -3.065vw;
}

body .wrapper .container .social .linkedin {
  width: 9.375vw;
  margin-left: -10.26vw;
}

@media (min-aspect-ratio: 1920 / 866) and (min-width: 1025px) {
  body .wrapper {
    height: 100%;
  }
}

@media (min-aspect-ratio: 1024 / 768) and (max-width: 1024px) {
  body .wrapper {
    height: auto;
  }
}

@media (max-width: 1024px) {
  body {
    background-position: bottom -12px right -57px;
    background-size: 137%;
  }
  body .wrapper {
    padding: 30px;
  }
  body .wrapper .logo {
    gap: 15px;
  }
  body .wrapper .logo img {
    width: 41px;
  }
  body .wrapper .logo span {
    font-size: 20px;
    line-height: 25px;
  }
  body .wrapper .container {
    width: 100%;
  }
  body .wrapper .container .title-container {
    margin: 55px 0 0 0;
    width: 100%;
    gap: 50px;
  }
  body .wrapper .container .title-container .title {
    font-size: 68px;
    line-height: 78px;
  }
  body .wrapper .container .title-container .description {
    padding: 24px 24px 0 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  body .wrapper .container .title-container .description span {
    font-size: 18px;
    line-height: 28px;
  }
  body .wrapper .container .title-container .description span::after {
    width: 20.5px;
    height: 20.5px;
    border-right: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
  }
  body .wrapper .container .social {
    margin: 52px 0 0 0;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    gap: 17px;
    padding: 0;
  }
  body .wrapper .container .social .social__link {
    gap: 11px;
    height: 52px;
  }
  body .wrapper .container .social .social__link svg {
    width: 18.5px;
  }
  body .wrapper .container .social .social__link span {
    font-size: 18.4956px;
    line-height: 22px;
  }
  body .wrapper .container .social .website {
    width: 148px;
  }
  body .wrapper .container .social .twitter {
    width: 140px;
    margin-left: 0;
    -webkit-transform: translateX(-103%);
            transform: translateX(-103%);
  }
  body .wrapper .container .social .discord {
    width: 144px;
    margin-left: 0;
  }
  body .wrapper .container .social .telegram-chat {
    width: 198px;
    -webkit-transform: translateX(-75%);
            transform: translateX(-75%);
  }
  body .wrapper .container .social .telegram {
    width: 293px;
  }
  body .wrapper .container .social .instagram {
    width: 164px;
  }
  body .wrapper .container .social .youtube {
    width: 149px;
  }
  body .wrapper .container .social .whitepaper {
    width: 177px;
    margin-left: 0;
    -webkit-transform: translateX(-81%);
            transform: translateX(-81%);
  }
  body .wrapper .container .social .linkedin {
    width: 151px;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  body {
    background-position: bottom -35px right -57px;
    background-size: 186%;
  }
  body .wrapper {
    padding: 30px;
  }
  body .wrapper .container .title-container {
    gap: 50px;
  }
  body .wrapper .container .title-container .title {
    font-size: 62px;
    line-height: 72px;
  }
  body .wrapper .container .title-container .description {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
}

@media (max-width: 700px) {
  body {
    background-image: url(../img/background-mobile.webp);
    background-position: top 0px right 0px;
    background-size: 100%;
  }
  body .wrapper {
    padding: 20px 15px 60px;
    height: auto;
  }
  body .wrapper .logo img {
    width: 37px;
  }
  body .wrapper .logo span {
    font-size: 18px;
    line-height: 23px;
  }
  body .wrapper .container {
    width: 100%;
  }
  body .wrapper .container .title-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 119px 0 0 0;
    width: 100%;
    gap: 0px;
  }
  body .wrapper .container .title-container .title {
    font-size: 36px;
    line-height: 46px;
  }
  body .wrapper .container .title-container .description {
    padding: 17px 17px 0 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    max-width: 353px;
  }
  body .wrapper .container .title-container .description span {
    font-size: 16px;
    line-height: 26px;
  }
  body .wrapper .container .title-container .description span::after {
    top: auto;
    bottom: 0;
    width: 18.5px;
    height: 18.5px;
    border-top: none;
    border-bottom: 1px solid #ffffff;
  }
  body .wrapper .container .social {
    margin: 40px 0 0 0;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    gap: 15px;
  }
  body .wrapper .container .social .social__link {
    padding: 0 0 0 15px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 18px;
  }
  body .wrapper .container .social .social__link svg {
    width: 18.5px;
  }
  body .wrapper .container .social .social__link span {
    font-size: 18.4956px;
    line-height: 22px;
  }
  body .wrapper .container .social .website {
    width: 100%;
  }
  body .wrapper .container .social .twitter {
    width: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  body .wrapper .container .social .discord {
    width: 100%;
  }
  body .wrapper .container .social .telegram-chat {
    width: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  body .wrapper .container .social .telegram {
    width: 100%;
  }
  body .wrapper .container .social .instagram {
    width: 100%;
  }
  body .wrapper .container .social .youtube {
    width: 100%;
  }
  body .wrapper .container .social .whitepaper {
    width: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  body .wrapper .container .social .linkedin {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */